@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body::after {
    content: '';position: absolute;
    width: 1400px;
    height: 800px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: radial-gradient(100% 100% at 50% 0%, #29303d00 0%, #071629 100%);
    background-blend-mode: normal, color;
    
}

body img {
   position: absolute;
}

body {
    position: relative;
    width: 1400px;
    height: 3006px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 500px;
    justify-content: space-between;
    width: 1000.39px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: 27.76px;
    z-index: 2;
}

nav img {
   width: 161px;
  height: 32px;
  position: relative;
  overflow: visible;
}
nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    position: relative;
    align-items: center;
}

 li a {
    text-decoration: none;
    font-weight: 500;
    height: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
 }

 .Headphones {
    width: 637px;
    height: 313px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 312px;
   z-index: 2;

 }

 h1 {
    position: relative;
    top: 0;
    font-size: 32px;
    font-style: bold;
 }
 h2 {
    position: relative;
    top: -25px;
    font-size: 16px;
 }

 button {
    width: 162px;
    height: 44px;
    background-color: #ff6565;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
 }

 p {
    width: 637px;
    height: 104px;
    position: relative;
    top: 54px;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
 }

 .what-we-do {
   color: #071629;
   position: relative;
   top: 500px;
   text-align: center;display: flex;
   flex-direction: column;
   align-items: center;
 }

 .what-we-do h2 {
   font-size: 32px;
 }

 .what-we-do p {
   position: relative;
   top: -10px;
   margin: 0;
 }

 .ico {
   display: flex;
   width: 1002px;
   height: 193px;
   gap: 60px;
   position: relative;
   top: 120px;
 }

 .icons {
   width: 207px;
 }

 .icons img {
   position: relative;
 }

 .icons:nth-last-child(1) {
   position: relative;
   top: -5px;
 }

 .icons:nth-last-child(2) {
   position: relative;
   top: -1px;
 }

 .icons:nth-last-child(3) {
   position: relative;
   top: -20px;
 }

 .icons:nth-last-child(4) {
   position: relative;
   top: -9px;
 }

 .icons p {
   width: 207px;
 }


.part-3-dark {
  height: 650px;
  position: relative;
  overflow: hidden;
  top: 700px;
}
.background {
  position: absolute;
  inset: 0;
}
.mask {
  background: #d8d8d8;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.object {
  width: 100px;
  height: 100px;
  position: static;
}
.bitmap {
  width: 100%;
  height: 158.46%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -27.85%;
  top: -30.62%;
  object-fit: contain;
}  

.our-results-speak-fo {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 32.14%;
  left: 32.36%;
  width: 35.5%;
  top: 90px;
}
.lorem-ipsum-dolor-si-copy-2 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  right: 27.21%;
  left: 27.29%;
  width: 45.5%;
  top: calc(50% - 104px);
}
.dot-1 {
  width: 13.57%;
  height: 29.23%;
  position: absolute;
  right: 71.64%;
  left: 14.79%;
  bottom: 12.15%;
  top: 58.62%;
  overflow: hidden;
}
.polygon-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.lorem-ipsum-dolor {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  right: 20.53%;
  left: 21.05%;
  width: 116px;
  top: calc(50% - -21px);
}
._2 {
   color: #ffffff;
   text-align: center;
   font-family: "SourceSansPro-Bold", sans-serif;
   font-size: 46px;
   line-height: 26px;
   font-weight: 700;
   position: relative;
   top: 30px;
}
.dot-2 {
  width: 13.57%;
  height: 29.23%;
  position: absolute;
  right: 52.64%;
  left: 33.79%;
  bottom: 12.15%;
  top: 58.62%;
  overflow: hidden;
}
.polygon {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.dot-3 {
  width: 13.57%;
  height: 29.23%;
  position: absolute;
  right: 33.64%;
  left: 52.79%;
  bottom: 12.15%;
  top: 58.62%;
  overflow: hidden;
}
.polygon-copy-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.dot-4 {
  width: 13.57%;
  height: 29.23%;
  position: absolute;
  right: 14.64%;
  left: 71.79%;
  bottom: 12.15%;
  top: 58.62%;
  overflow: hidden;
}
.polygon-copy-22 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.part-4-contact-us {
  background: #ffffff;
  height: 373px;
  width: 335px;
  position: relative;
  top: 800px;
  display: flex;
  justify-content: center;
  
  margin: 0 auto;
}
.contact-us {
  color: #071629;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  width: 47.76%;
}

form{
   position: relative;
   display: flex;
   flex-direction: column;
   top: 1px;
   gap: 20px;
}

label {
  font-family: 'Source Sans 3';
   display: block;
   color: #071629;
   position: relative;
   top: 105px;
   font-size: 14px;
   z-index: 1;
   
}

input {
   width: 335px;
   border: none;
   border-bottom: 1px solid #979797;
   position: relative;
   top: 80px;
   opacity: 0.37;
}

input:focus {
  outline: none;
}

form button {
   position: relative;
   top: 160px;
   left: 90px;
}

form button:hover {
  box-shadow: 0 0 20px 0 #071629;
}

footer {
  background-color: #071629;
  position: relative;
  top: 950px;
  width: 1400px;
  height: 249px;
}

.footer-img {
  width: 161px;
  height: 32px;
  position: relative;
  left: 199.61px;
  top: 91.76px;
}

.socials {
  display: flex;
  position: relative;
  width: 130px;
  height: 30px;
  left: 1070px;
  top: 58px;
  gap: 20px;
}

.i-container {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

i {
  color: #071629;
  position: relative;
  left: 6.5px;
  top: 5px;
}

a:nth-child(1) i {
  position: relative;
  left: 9px;
  font-weight: 500;
}

footer p {
  width: 98px;
  height: 15px;
  position: relative;
  left: 651px;
  top: 115px;
  font-size: 12px;
  color: #ffffff65;
}