@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body::after {
    content: '';position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: radial-gradient(100% 100% at 50% 0%, #29303d00 0%, #071629 100%);
    background-blend-mode: normal, color;
    
}

body {
    background-image: url(https://i.ibb.co/0mffxsv/Photo-Room-20250106-182136.png);
    background-repeat:  no-repeat;
    background-position: center;
    background-position-y: top;
    position: relative;
    max-width: 1400px;
    max-height: 4960px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 1000.39px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: 27.76px;
    z-index: 2;
}

nav img {
   max-width: 161px;
  height: 32px;
  position: relative;
  overflow: visible;
}
nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    position: relative;
    align-items: center;
    bottom: 30px;
}

 li a {
    text-decoration: none;
    font-weight: 500;
    height: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
 }

 .dropbtn {
    background-color: #07162900;
    border: none;
 }

 .Headphones {
    max-width: 637px;
    height: 313px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 312px;
    z-index: 2;

 }

 h1 {
    position: relative;
    top: 0;
    font-size: 32px;
    font-style: bold;
    padding: 0 20px;
 }
 h2 {
    position: relative;
    top: -25px;
    font-size: 16px;
    padding: 0 70px;
 }

 .red {
    width: 162px;
    height: 44px;
    background-color: #ff6565;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
 }

 p {
    max-width: 637px;
    height: 104px;
    position: relative;
    top: 54px;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
 }

 .red:hover {
    box-shadow: 0 0 20px 0 #071629;
  }
  
  a:hover {
    color: #FF6565;
  }

  .what-we-do {
   color: #071629;
   position: relative;
   top: 550px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .what-we-do h2 {
   font-size: 32px;
 }

 .what-we-do p {
   position: relative;
   top: -10px;
   margin: 0;
 }

 .ico {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 1002px;
   gap: 0px;
   position: relative;
   top: 120px;
   padding: 0 2rem 4rem 2rem;
 }

 .icons {
   max-width: 207px;
   margin: 21px;
   text-align: center;
 }

 .icons img {
   position: relative;
 }

 .icons:nth-last-child(1) {
   position: relative;
   top: -5px;
 }

 .icons:nth-last-child(2) {
   position: relative;
   top: -1px;
 }

 .icons:nth-last-child(3) {
   position: relative;
   top: -20px;
 }

 .icons:nth-last-child(4) {
   position: relative;
   top: -9px;
 }

 .icons p {
   width: 207px;
   padding: 0;
 }

 .part-3-dark::before {
  content: '';
  position: absolute;
  left: 0%;
  height: 100%;
  z-index: 1;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  bottom: -27.85%;
  background: radial-gradient(73.41% 64.41% at 0% 0%, #10192978 0%, #071629 150%);
 }

.part-3-dark {
  background-image: url(https://i.ibb.co/hV7PbXH/Bitmap-1.png);
  background-repeat: no-repeat ;
  background-position: center;
  background-position-y: -30px;
  height: 650px;
  position: relative;
  top: 630px;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items: center;
}  

.our-results-speak-fo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  max-width: 448px;
  top: 109px;
  z-index: 2;
  margin: 0;
}
.lorem-ipsum-dolor-si-copy-2 {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  top: 154px;
  z-index: 2;
  margin: 0;
}

.polygons {
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5.5rem;
  z-index: 2;
  position: relative;
  top: 210px;
  padding: 0 2rem;
}

.polygon-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 125px;
  height: 190px;
  gap: 0px;
  position: relative;
  padding: 0 2rem;
  z-index: 2;
}
.polygon-copy {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.polygon {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.polygon-copy-2 {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.polygon-copy-22 {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}


.lorem-ipsum-dolor {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  width: 116px;
  top: 112px;
  padding: 0;
}
._2 {
   color: #ffffff;
   text-align: center;
   font-family: "SourceSansPro-Bold", sans-serif;
   font-size: 46px;
   line-height: 26px;
   font-weight: 700;
   position: relative;
   top: 30px;
}

@media (max-width: 1103px) {
  

  .part-3-dark {
    height: 870px;
  }
  .part-3-dark::before {
    
  background: radial-gradient(73.41% 54.41% at 0% 0%, #10192978 0%, #071629 130%);
  }
  }

  @media (max-width: 529px) {

    .part-3-dark {
      height: 870px;
    }
    .part-3-dark::before {
      height: 1630px;
      
    background: radial-gradient(73.41% 32.41% at 0% 0%, #10192978 0%, #071629 120%);
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        height: 32px;
        margin: 0 auto;
        position: relative;
        top: 27.76px;
        z-index: 2;
    }
    
      nav ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
      }

    p {
      padding: 0 60px; 
    }

    .polygons {
      top: 321px;
    }

    .rectagle {
        z-index: 2;
        width: 20px;
        height: 14px;
        position: relative;
        right: 10px;
        top: -6px;
        display: flex;
        flex-direction: column;
        gap: 3.6px;
    }
    .rectagle div {
        width: 20px;
        height: 2px;
        background-color: #e2e8f1;
        border-radius: 50px;
    }

    .rectagle div:nth-child(2) {
       width: 13px; 
    }

    .dropbtn {
        background-color: #187cff00;
        padding: 16px;
        font-size: 16px;
        border: none;
        width: 20px;
        height: 14px;
        position: relative;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        top: -32px;
        right: 150px;
      }
      
      .dropdown-content {
        display: none;
        position: relative;
        left: 150px;
        top: 40px;
        z-index: 1;
      }

      .dropdown-content ul {
        padding: 0;
      }
      
      .dropdown-content a {
        color: #ffffff;
        padding: 12px 0;
        text-decoration: none;
        display: block;
        
      }
      
      
      .dropdown:hover .dropdown-content {
        display: block;
    }
      
      .dropdown:hover .dropbtn {
        position: relative;
        top: 0px;
        right: -15px;
    }
      .rectagle div:hover {
        background-color: #FF6565;
      }

      .rectagle div:nth-child(2):hover {
        background-color: #ffffff00;
     }

     .rectagle div:nth-child(1):hover {
        transform: rotate(45deg);
        position: relative;
        top: 5px;
     }

     .rectagle div:nth-child(3):hover {
        transform: rotate(-45deg);
        position: relative;
        top: -5px;
     }

     .Headphones {
        position: relative;
        top: 200px;
     }

  }