@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: radial-gradient(100% 100% at 50% 0%, #29303d00 0%, #071629 100%);
    background-blend-mode: normal, color;
    
}

.pentagone {
  position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 113px;
    border-top: 113px solid #ff6565;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; 
}

.pentagone:after{
  position: absolute;
  content: '';
  border-bottom: 68px solid #FF6565;
  border-left: 97.5px solid transparent;
  border-right:97.5px solid transparent;
  bottom: 112.5px;
  left: -40px;
}

body {
    background-image: url(https://i.ibb.co/0mffxsv/Photo-Room-20250106-182136.png);
    background-repeat:  no-repeat;
    background-position: center;
    background-position-y: top;
    position: relative;
    max-width: 1400px;
    max-height: 4960px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 1000.39px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: 27.76px;
    z-index: 2;
}

nav img {
   max-width: 161px;
  height: 32px;
  position: relative;
  overflow: visible;
}
nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    position: relative;
    align-items: center;
    bottom: 30px;
}

 li a {
    text-decoration: none;
    font-weight: 500;
    height: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
 }

 .dropbtn {
    background-color: #07162900;
    border: none;
 }

 .Headphones {
    max-width: 637px;
    height: 313px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 312px;
    z-index: 2;

 }

 h1 {
    position: relative;
    top: 0;
    font-size: 32px;
    font-style: bold;
    padding: 0 20px;
 }
 h2 {
    position: relative;
    top: -25px;
    font-size: 16px;
    padding: 0 70px;
 }

 .red {
    width: 162px;
    height: 44px;
    background-color: #ff6565;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
 }

 p {
    max-width: 637px;
    height: 104px;
    position: relative;
    top: 54px;
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
 }

 .red:hover {
    box-shadow: 0 0 20px 0 #071629;
  }
  
  a:hover {
    color: #FF6565;
  }

  .what-we-do {
   color: #071629;
   position: relative;
   top: 550px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .what-we-do h2 {
   font-size: 32px;
 }

 .what-we-do p {
   position: relative;
   top: -10px;
   margin: 0;
 }

 .ico {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 1002px;
   gap: 0px;
   position: relative;
   top: 120px;
   padding: 0 2rem 4rem 2rem;

 }

 .icons img {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}
.icons img {
	color: #027bdd;
  font-size: 3em;
  margin: 20px;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

 .icons {
   max-width: 207px;
   margin: 21px;
   text-align: center;
 }

 .icons img {
   position: relative;
 }

 .icons:nth-last-child(1) {
   position: relative;
   top: -5px;
 }

 .icons:nth-last-child(2) {
   position: relative;
   top: -1px;
 }

 .icons:nth-last-child(3) {
   position: relative;
   top: -20px;
 }

 .icons:nth-last-child(4) {
   position: relative;
   top: -9px;
 }

 .icons p {
   width: 207px;
   padding: 0;
 }

 
 .part-3-dark::before {
  content: '';
  position: absolute;
  left: 0%;
  height: 100%;
  z-index: 1;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  bottom: -27.85%;
  background: radial-gradient(73.41% 64.41% at 0% 0%, #10192978 0%, #071629 150%);
 }

.part-3-dark {
  background-image: url(https://i.ibb.co/hV7PbXH/Bitmap-1.png);
  background-size: cover;
  background-position: center;
  background-position-y: -30px;
  height: 650px;
  position: relative;
  top: 630px;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items: center;
}  

.our-results-speak-fo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  max-width: 448px;
  top: 109px;
  z-index: 2;
  margin: 0;
}
.lorem-ipsum-dolor-si-copy-2 {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  top: 154px;
  z-index: 2;
  margin: 0;
}

.polygons {
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5.5rem;
  z-index: 2;
  position: relative;
  top: 210px;
  padding: 0 2rem;
}

.polygons:hover {
  animation: shake 0.5s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.polygon-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 125px;
  height: 190px;
  gap: 0px;
  position: relative;
  padding: 0 2rem;
  z-index: 2;
}
.polygon-copy {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.polygon {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.polygon-copy-2 {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}

.polygon-copy-22 {
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}


.lorem-ipsum-dolor {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  width: 116px;
  top: 112px;
  padding: 0;
}
._2 {
   color: #ffffff;
   text-align: center;
   font-family: "SourceSansPro-Bold", sans-serif;
   font-size: 46px;
   line-height: 26px;
   font-weight: 700;
   position: relative;
   top: 30px;
}

.part-4-contact-us {
  background: #ffffff;
  height: 373px;
  width: 335px;
  position: relative;
  top: 630px;
  display: flex;
  justify-content: center;
  margin: 100px auto;
}
.contact-us {
  color: #071629;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  width: 100%;
}

form{
   position: relative;
   display: flex;
   flex-direction: column;
   top: 1px;
   gap: 20px;
}

label {
  font-family: 'Source Sans 3';
   display: block;
   color: #071629;
   position: relative;
   top: 105px;
   font-size: 14px;
   z-index: 1;
   
}

input {
   width: 335px;
   border: none;
   border-bottom: 1px solid #979797;
   position: relative;
   top: 80px;
   opacity: 0.37;
}

input:focus {
  outline: none;
}

form button {
   position: relative;
   top: 160px;
   left: 90px;
}

footer {
  background-color: #071629;
  position: relative;
  top: 700px;
  max-width: 1400px;
  height: 249px;
}

.footer-a {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  position: relative;
  top: 91.76px;
  padding: 0 2rem;
  margin: 0 auto;
}

.footer-img {
  width: 161px;
  height: 32px;
  position: relative;
}

.socials {
  display: flex;
  position: relative;
  width: 130px;
  height: 30px;
  gap: 20px;
  padding: 0;
  top: 0;
}

.i-container {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

i {
  color: #071629;
  position: relative;
  left: 6.5px;
  top: 5px;
}

a:nth-child(1) i {
  position: relative;
  left: 9px;
  font-weight: 500;
}

footer p {
  display: flex;
  margin: 0 auto;
  max-width: 98px;
  height: 15px;
  position: relative;
  top: 115px;
  font-size: 12px;
  color: #ffffff65;
}


@media (max-width: 1103px) {
  

  .part-3-dark {
    height: 870px;
  }
  .part-3-dark::before {
    
  background: radial-gradient(73.41% 74.41% at 0% 0%, #10192978 0%, #071629 130%);
  }
  .part-4-contact-us {
    background: #ffffff;
    height: 373px;
    width: 335px;
    position: relative;
    top: 680px;
    display: flex;
    justify-content: center;
    
    margin: 100px auto;
  }

  }

  @media (max-width: 529px) {

    .part-3-dark {
      height: 870px;
    }
    .part-3-dark::before {
      height: 1630px;
      
    background: radial-gradient(73.41% 43.41% at 0% 0%, #10192978 0%, #071629 120%);
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        height: 32px;
        margin: 0 auto;
        position: relative;
        top: 27.76px;
        z-index: 2;
    }
    
      nav ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
      }

    p {
      padding: 0 60px; 
    }
    
    .polygons {
      top: 321px;
    }

    .part-4-contact-us {
      background: #ffffff;
      height: 373px;
      width: 335px;
      position: relative;
      top: 1380px;
      display: flex;
      justify-content: center;
      
      margin: 100px auto;
    }
    footer {
      top: 1450px;
    }
    .footer-a {
      top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    .rectagle {
        z-index: 2;
        width: 20px;
        height: 14px;
        position: relative;
        right: 10px;
        top: -6px;
        display: flex;
        flex-direction: column;
        gap: 3.6px;
    }
    .rectagle div {
        width: 20px;
        height: 2px;
        background-color: #e2e8f1;
        border-radius: 50px;
    }

    .rectagle div:nth-child(2) {
       width: 13px; 
    }

    .dropbtn {
        background-color: #187cff00;
        padding: 16px;
        font-size: 16px;
        border: none;
        width: 20px;
        height: 14px;
        position: relative;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        top: -32px;
        right: 150px;
      }
      
      .dropdown-content {
        display: none;
        position: relative;
        left: 150px;
        top: 40px;
        z-index: 1;
      }

      .dropdown-content ul {
        padding: 0;
      }
      
      .dropdown-content a {
        color: #ffffff;
        padding: 12px 0;
        text-decoration: none;
        display: block;
        
      }
      
      
      .dropdown:hover .dropdown-content {
        display: block;
    }
      
      .dropdown:hover .dropbtn {
        position: relative;
        top: 0px;
        right: -15px;
    }
      .rectagle div:hover {
        background-color: #FF6565;
      }

      .rectagle div:nth-child(2):hover {
        background-color: #ffffff00;
     }

     .rectagle div:nth-child(1):hover {
        transform: rotate(45deg);
        position: relative;
        top: 5px;
     }

     .rectagle div:nth-child(3):hover {
        transform: rotate(-45deg);
        position: relative;
        top: -5px;
     }

     .Headphones {
        position: relative;
        top: 200px;
     }

  }